/* *{
    border: solid red 1px;
} */

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    padding: 10px 50px;
    font-size: 18px;
    color: #d9dbde;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(106, 106, 170);
}

header {
    margin-bottom: 10px;
}

footer {
    justify-content: space-around;
    margin-top: 10px;
}

.header-links > ul  {
    list-style: none;
    padding: 0;
    font-size: 18px;
    color: #d9dbde;
    display: flex;
    gap: 10px;
}

li > a {
    text-decoration: none;
    color: #d9dbde;
}

.section {
    width: 70%;
}

main {
    min-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* GRID STYLING */

.eas-container {
    width: 50%;
}

.eas-button {
    margin-bottom: 30px;
}

.eas-grid {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: double black 5px;
}

.eas-row {
    display: flex;
    flex: 1;
    min-width: 100%;
}

.eas-square {
    aspect-ratio: 1/1   ;
    flex: 1;
}

.eas-options {
    margin: 30px;
}